#torch==2.0.0
#torchvision==0.15.1
torch==2.3.0
torchvision==0.18.0
diffusers==0.27.2
transformers==4.57.3
accelerate
safetensors
einops
onnxruntime
spaces==0.19.4
omegaconf
peft
huggingface-hub==0.35.0
opencv-python
#insightface
gradio>=5.49.0
controlnet_aux
gdown
peft
